@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*──────────────────
    social media
──────────────────*/

.social-media{
	padding: 10px;
	display: flex;
	position: center;
        align-items: space-around;
	justify-content:center;
}

.social-media a {
        margin: 10px;
        font-size: 2rem;
        text-align:center;
        display: inline-block;
	color: var(--main-fonts-color);
}

.social-media a i{
	cursor: url(https://ani.cursors-4u.net/cursors/cur-13/cur1149.png),pointer;
}

.social-media  a:hover {
	color: var(--main-decor-color);
	text-shadow: 0 0 50px var(--main-decor-color);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background:/*-image url(url)*/ #e8cb7dff
  background-position: center;
  -webkit-background-clip: text;
}


#time {
  display: flex;
  gap: 40px;
  color: #000000;
}

#time .circle {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#time .circle svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
}

#time .circle svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke: #000000;
  stroke-width: 4;
  transform: translate(5px, 5px);
}
#time .circle svg circle:nth-child(2) {
  stroke: var(--crl);
  stroke-dasharray: 440;
}
#time div {
  position: absolute;
  text-align: center;
  font-weight: 500;
  font-size: 1.5em;
}
#time div span {
  position: absolute;
  font-size: 0.35em;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transform: translateX(-50%) translateY(-10px);
}
#time .ap {
  position: relative;
  font-size: 1em;
  transform: translateX(-20px);
}
.dots {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
}
/**html{
  cursor: url(https://ani.cursors-4u.net/cursors/cur-13/cur1149.png),progress;
}
a:hover{
  cursor: url(https://ani.cursors-4u.net/set/2/set151_rainbow_pinwheel.zip), progress;
} **/
.dots::before {
  content: "";
  position: absolute;
  top: -3px;
  width: 15px;
  height: 15px;
  background: var(--crl);
  border-radius: 50%;
  box-shadow: 0 0 20px var(--crl), 0 0 30px var(--crl), 0 0 40px var(--crl),
    0 0 50px var(--crl);
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Oswald&display=swap");

body {
  background-color: #ffffff;
}
#hero img {
  height: 100vh;
  width: 100%;
  background-position: absolute;
  z-index: 10;
  object-fit: cover;
}

#hero .content {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
}

.switch {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
  left: 5%;
  top: 3%;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(102, 101, 101);
  -webkit-transition: 0.4s;
}

input:checked + .slider {
  background-color: white;
}

input:focus + .slider {
  box-shadow: 0 0 20px #2b78c2;
}
input:checked + .slider:before {
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

#clickme {
  color: #d9ddde;
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
  left: 5%;
  top: 3%;
  text-indent: 12em;
  font-size: 18px;
}

@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap");
#center {
  font-family: "PT Sans Narrow", sans-serif;
}

#button-text {
  font-family: "Open Sans Condensed", sans-serif;
}

#block {
  margin-left: 3px;
  margin-right: 3px;
}
.icons {
  font-size: 1.5rem;
}
.buton {
  text-shadow: 0px 0px 30px #2b78c2;
}
.judul {
  text-shadow: 0px 0px 30px #2b78c2;
}
